@charset "UTF-8";

:root{
    --cor01: #FCF9ED;
    --cor02: #193722;
    --cor03: #7aa789;
    --cor04: #d3efdc;
}

@media screen and (max-width: 767px){


/*COMEÇO DA PÁGINA*/

    div#imagem-header{
        background-image: url(../imagens/por-do-sol.jpg);
        background-position: center left;
    }


/*HEADER*/


    header{
        justify-content: center;
        height: 17vh;
    }

    #titles-header-1{
        display: none;
    }
    
    #titles-header-2{
        display: none;
    }


/*CONTEÚDO 1*/

    div#conteudo-container-1{
        justify-content: center;
        margin-top: 0px;
        height: 35vh;
    }
    
    .conteudo-1{
        width: 60vw;
        margin: 0px;
    }
    
    .h1-conteudos{
        font-size: 38px;
    }
    .h1-conteudos:hover{
        transform: none;
    }
    
    div#container-button-1{
        justify-content: center;
    }
    
    #btt-conteudo-1{
        margin: 0px;
    }
    #btt-conteudo-1:hover{
        transform: none;
    }


/*CONTEÚDO 2*/


    div#conteudo-container-2{
        justify-content: center;
        height: 45vh;
    }

    .conteudo-2{
        width: 90vw;
    }

    .p-conteudo-2{
        font-size: 27px;
    }
    .p-conteudo-2:hover{
        transform: none;
    }


/*SECTION*/


    .h1-sessao-1{
        font-size: 32px;
    }

    .p-sessao-1{
        font-size: 23px;
    }

    div#container-iframe-1{
        height: 50vh;
    }

    div#iframe-1{
        width: 80vw;
    }

    #iframe-1:hover{
        transform: none;
    }

    .btt-section-1:hover{
        transform: none;
    }


/*SESSÃO 2 - ARGUMENTOS 1 - CARDS*/


    section#container-argumentos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        background-image: url(../imagens/pilulas2.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1.h1-argumentos{
        text-align: center;
        font-size: 33px;
        margin-top: 70px;
        margin-bottom: 70px;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    div#argumentos-cards{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        background-color: rgba(0, 53, 88, 0.823);
        border-radius: 30px;
        padding: 0px 10px 0px 10px;
        border: 3px solid white;
    }

    div.cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
        width: 90vw;
        padding: 20px 10px 20px 10px;
        border-radius: 20px;
        transition: transform 0.3s ease;
        cursor: pointer;
    }
    div.cards:hover{
        transform: none;
        background-color: rgba(255, 255, 255, 0.095);
    }

    div.imagem{
        height: 110px;
        width: 110px;
        border: 2px solid white;
        border-radius: 100px;
        background-image: url(../imagens/emagrecimento.jpg);
        background-position: center center;
        background-size: cover;
    }

    h2.h2-cards{
        text-align: center;
        font-size: 35px;
        color: white;
        margin: 15px 0px 0px 0px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    p.p-cards{
        text-align: center;
        font-size: 19px;
        color: white;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin: 15px 0px 0px 0px;
    }

}