@charset "UTF-8";

:root{
    --cor01: #FCF9ED;
    --cor02: #193722;
    --cor03: #7aa789;
    --cor04: #d3efdc;
}

@media screen and (max-width: 767px){


/*COMEÇO DA PÁGINA*/

    div#imagem-header{
        background-image: url(../imagens/por-do-sol.jpg);
        background-position: center left;
    }


/*HEADER*/


    header{
        justify-content: center;
        height: 17vh;
    }

    #titles-header-1{
        display: none;
    }
    
    #titles-header-2{
        display: none;
    }


/*CONTEÚDO 1*/

    div#conteudo-container-1{
        justify-content: center;
        margin-top: 0px;
        height: 35vh;
    }
    
    .conteudo-1{
        width: 60vw;
        margin: 0px;
    }
    
    .h1-conteudos{
        font-size: 38px;
    }
    .h1-conteudos:hover{
        transform: none;
    }
    
    div#container-button-1{
        justify-content: center;
    }
    
    #btt-conteudo-1{
        margin: 0px;
    }
    #btt-conteudo-1:hover{
        transform: none;
    }


/*CONTEÚDO 2*/


    div#conteudo-container-2{
        justify-content: center;
        height: 45vh;
    }

    .conteudo-2{
        width: 90vw;
    }

    .p-conteudo-2{
        font-size: 27px;
    }
    .p-conteudo-2:hover{
        transform: none;
    }


/*SECTION*/


    .h1-sessao-1{
        font-size: 32px;
    }

    .p-sessao-1{
        font-size: 23px;
    }

    div#container-iframe-1{
        height: 50vh;
    }

    div#iframe-1{
        width: 80vw;
    }

    #iframe-1:hover{
        transform: none;
    }

    .btt-section-1:hover{
        transform: none;
    }


/*SESSÃO 2 - ARGUMENTOS 1 - CARDS*/


    h1.h1-argumentos{
        font-size: 33px;
    }

    div#argumentos-cards{
        justify-content: center;
        flex-direction: column;
        width: 90%;
        padding: 0px 10px 0px 10px;
    }

    div.cards{
        height: 40vh;
        width: 90vw;
        padding: 20px 10px 20px 10px;
    }
    div.cards:hover{
        transform: none;
    }

    div.imagem{
        height: 110px;
        width: 110px;
        border: 2px solid white;
    }

    h2.h2-cards{
        font-size: 35px;
    }

    p.p-cards{
        font-size: 19px;
    }

}