@charset "UTF-8";

:root{
    --cor01: #FCF9ED;
    --cor02: #193722;
    --cor03: #7aa789;
    --cor04: #d3efdc;
}


/*CONFIGS GERAIS*/


*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

mark{
    background-color: black;
    border-radius: 10px;
    color: var(--cor01);
    padding: 3px;
}


/*COMEÇO DA PÁGINA*/


#container-pai{
    display: flex;
    flex-direction: column;
    width: 100%;
}

div#imagem{
    height: 120vh;
    width: 100%;
    background-image: url(../imagens/mulher-correndo.jpg);
    background-size: cover;
    background-position: center center;
}


/*HEADER*/


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    background-color: #00000000;
}

#titles-header-1{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 400px;
    justify-content: space-around;
    align-items: center;
}

#titles-header-2{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 400px; 
    justify-content: space-around;
    align-items: center;
}

.h1-titles-header{
    font-size: 21px;
    margin: 0;
    color: white;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.h1-titles-header:hover{
    background-color: #287FB6;
    color: var(--cor01);
    border-radius: 30px;
    padding: 15px;
    transition: 0.5s ease, transform 0.5s ease;
}

h1#titulo{
    color: var(--cor01);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 57px;
    margin: 0;
    text-decoration: overline;
}


/*CONTEÚDO 1*/


div#conteudo-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    height: 30vh;
    width: 100%;
}

.conteudo-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50vw;
    margin-right: 60px; 
}

.h1-conteudos{
    text-align: center;
    font-size: 53px;
    color: var(--cor01);
    font-style: oblique;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
.h1-conteudos:hover{
    transform: scale(1.03);
}

div#container-button{
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    width: 100%;
}

#btt-container-button{
    height: 100%;
    width: 210px;
    margin-right: 300px;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    color: white;
    background-color: #287FB6;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#btt-container-button:hover{
    background-color: rgb(73, 157, 209);
    transform: scale(1.05);
}

/*CONTEÚDO 2*/

div#conteudo-container-2{
    display: flex;
    justify-content: flex-end;
    height: 35vh;
    width: 100%;
    margin-top: 20px;
}

.conteudo-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60vw;
    margin-right: 5px;
}

.p-conteudo-2{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: var(--cor01);
    margin: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
.p-conteudo-2:hover{
    transform: scale(1.03);
}


/*SECTION*/

section#sessao-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--cor01);
}

div.container-sessao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 90%;
    margin-top: 30px;
    border-bottom: 3px solid black;
}

.h1-sessao{
    text-align: center;
    font-size: 38px;
    color: black;
    font-style: oblique;
    margin: 0;
}

.p-sessao{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

div#container-iframe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    margin-top: 50px;
}

div#iframe{
    height: 100%;
    width: 50vw;
    border-radius: 20px;
}

iframe{
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.76);
    transition: transform 0.3s ease;
}
iframe:hover{
    transform: scale(1.05);
}

#container-button-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

#btt-section{
    height: 65px;
    width: 190px;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    color: white;
    background-color: rgb(255, 94, 94);
    cursor: pointer;
    transition: transform 0.3s ease;
}
#btt-section:hover{
    background-color: rgb(255, 0, 0);
    transform: scale(1.05);
}


/*ARGUMENTOS*/


section#container-argumentos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--cor04);
}

h1.h1-argumentos{
    text-align: center;
    font-size: 45px;
    margin-top: 70px;
    margin-bottom: 70px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

div#argumentos-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 95%;
    background-color: #287FB6;
    border-radius: 30px;
}

div.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 21vw;
    padding: 0px 10px 10px 10px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
div.cards:hover{
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.18);
}

div.imagem{
    height: 130px;
    width: 130px;
    border-radius: 100px;
    background-image: url(../imagens/emagrecimento.jpg);
    background-position: center center;
    background-size: cover;
}

h2.h2-cards{
    text-align: center;
    font-size: 35px;
    color: white;
    margin: 15px 0px 0px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p.p-cards{
    text-align: center;
    font-size: 19px;
    color: white;
    margin: 15px 0px 0px 0px;
}


/*ARGUMENTOS 2*/

div#div-argumentos-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0px 35px 0px;
    width: 100%;
    background-color: var(--cor01);
}

div#descrição-produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 35%;
    background-color: var(--cor04);
    border-radius: 30px 0px 0px 30px;
}

li{
    font-size: 30px;
    font-weight: bold;
    margin: 15px 0px 15px 0px;
}

div#imagem-produto{
    height: 70vh;
    width: 35%;
    background-color: var(--cor03);
    border-radius: 0px 30px 30px 0px;
}