@charset "UTF-8";

/*
Paleta de cores: 
1. #ffe5d4
2. #03012C 
3. #190E4F
4. #B33C86
5. #EA638C
*/

:root{
    --cor01: #ffe5d4;
    --cor02: #03012C;
    --cor03: #190E4F;
    --cor04: #B33C86;
    --cor05: #EA638C;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /* em uma box normal definir a largura de um elemento para 100 pixels, as bordas e o preenchimento adicionam espaço extra ao tamanho total do elemento. Ao usar box-sizing: border-box, o tamanho total do elemento é calculado incluindo tanto o conteúdo quanto as bordas e o preenchimento.*/
}
body, html{
    height: 100vh;
    width: 100vw;   
    background-color: black;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 300px;
    height: 540px;
    border-radius: 25px;
    overflow: hidden; /*Qualquer conteúdo que ultrapasse as bordas desse elemento será cortado (oculto) e não será exibido.*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.683);
    border: 3px solid #ffe5d4;
    transition: width 0.5s, height 0.5s; /*Para tempo de transição entre devices breakpoints*/
    transition-timing-function: ease; /*Para suavizar animação de transição*/
}

section#login > div#imagem{
    display: block;
    background: url(../imagens/Imagemlogin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

form > div.campo{
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

input{
    padding: 6px;
    width: 230px;
    border: 3px solid black;
    transform: translateY(-6px);
    border-radius: 6px;
}

input:focus-within{
    background-color: #03012C;
    color: white;
}

span{
    color: white;
    background-color: #03012C;
    padding: 5px;
    border-radius: 8px;
}

form > input[type=submit] {
    display: block;
    margin: auto;
    margin-top: 15px;
    font-size: 1em;
    font-weight: bold;
    width: 50%;
    height: 45px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: var(--cor02);
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: rgb(250, 178, 249);
    border: 4px solid black;
    color: black;
}

form > a.botao{
    margin-top: 5px;
    color: #03012C;
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

span#carta{
    background-color: #03012C;
    margin-top: 3px;
    border-radius: 20px;
}