@charset "UTF-8"; 

:root{
    --cor01: #FCF9ED;
    --cor02: #193722;
    --cor03: #7aa789;
    --cor04: #d3efdc;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #f2ebd6;
}

div#primaria{
    height: 100vh;
    margin: 120px 120px 0px 120px;
    background-color: var(--cor01);
}

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 40px 20px 40px;
}

ul{
    display: flex;
}

li{
    margin: 20px;
}

a#titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: var(--cor03);
    text-decoration: none;
}
a#titulo:hover{
    transform: translate(6px, 6px);
    text-decoration: underline;
    background-color: var(--cor04);
    padding: 15px;
    border-radius: 20px;
    transition: 0.5s;
}
a.cabeçalho{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--cor02);
}
a.cabeçalho:hover{
    background-color: var(--cor03);
    padding: 15px;
    border-radius: 20px;
    transition: 0.5s;
    transform: translate(6px, 6px);
}

main#primeiro{
    display: flex;
    background-color: var(--cor01);
    height: 80vh;
    width: 81.3vw;
}

h1#albert{
    color: var(--cor02);
    font-size: 60px;
    justify-content: flex-start;
    margin-left: 50px;
}

div#albert{
    position: absolute;
}

h3{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: var(--cor02);
    padding: 10px;
    top: 100px;
    left: 660px;
}
h3:hover{
    background-color: var(--cor04);
    background-size: cover;
    transform: translate(0px, 0px);
    transition: 0.5s;
    padding: 20px;
    border-radius: 10px;
}

article#historia{
    display: flex;
    height: 120vh;
    width: 81.3vw;
    background-image: url(imagens/veganimo-história.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 15px -15px 15px 15px rgba(0, 0, 0, 0.7);
}
section#seçãohistoria{
    height: 90vh;
    width: 60vw;
    padding: 20px;
    margin: auto;
    background-color: #00000096;
}
section#seçãohistoria:hover{
    background-color: black;
    padding: 25px;
    border-radius: 15px;
    transition: 1s;
}
h1.historia{
    text-decoration: underline;
    color: white;
    font-size: 50px;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: center;
    text-shadow: 15px 15px 15px 0px black;
}
p.historia{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    text-shadow: 15px 15px 15px 0px black;
    text-indent: 30px;
}

main#terceiro{
    display: flex;
    background-color: var(--cor01);
    height: 30vh;
    width: 81.3vw;
}
main#terceiro:hover{
    background-color: black;
    transition-duration: 1.5s;
}

p#terceiro{
    text-align: center;
    color: var(--cor02);
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 40px;
    text-indent: 60px;
    text-shadow: 1px 1px 1px var(--cor02);
}
p#terceiro:hover{
    transition-duration: 1.5s;
    color: var(--cor03);
}

a#terceiro{
    color: var(--cor02);
    font-size: 25px;
    font-weight: bold;
}
a#terceiro:hover{
    transition-duration: 0.5s;
    color: var(--cor01);
}

main#quarto{
    box-shadow: inset 15px 15px 15px 15px rgba(0, 0, 0, 0.477);
    display: flex;
    background-image: url(imagens/meioambiente.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left left;
    height: 100vh;
    width: 81.3vw;
}

article#ambiente{
    height: 90vh;
    width: 40vw;
}
article#ambiente:hover{
    background-color: black;
    border-radius: 15px;
    transition: 1s;
}

h1#ambiente{
    text-decoration: underline;
    color: var(--cor01);
    text-align: center;
    font-size: 40px;
    background-color: #000000ac;
    margin-top: 50px;
    margin-left: 36px;
    padding: 40px 10px 5px 10px; 
}

p#ambiente{
    color: var(--cor03);
    background-color: #000000ac;
    padding: 20px 20px 50px 20px;
    margin-bottom: 30px;
    margin-left: 36px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    text-indent: 30px;
}

main#quinto{
    display: block;
    background-color: var(--cor01);
    height: 100vh;
    width: 81.3vw;
}

section#saude{
    display: ;
    top: 50%;
    left: 50%;
    height: 70vh;
    width: 70vw;
    background-image: url(imagens/corrida.jpg);
    background-size: cover;
}