@charset "UTF-8";

/*
Typical Device Breakpoints
________________________________________________________
Smartphones em modo retrato:
Breakpoint: 576px

Smartphones em modo paisagem e tablets em modo retrato:
Breakpoint: 600px até 768px

Tablets em modo paisagem:
Breakpoint: 768px até 992px

Laptops e desktops:
Breakpoint: 992px até 1200px

Monitores grandes ou telas de alta resolução:
Breakpoint: acima de 1200px
*/

:root{
    --cor1: #C6D4FF;
    --cor2: #7A82AB;
    --cor3: #003554;
    --cor4: #051923;
    --cor5: #49D49D;
}


/*PARA TABLETS*/
@media screen and (min-width: 680px) and (max-width: 992px) {

}

/*PARA PCs E TVs:*/
@media screen and (min-width: 992px) {
    *{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    }

    body, html{
        margin: 0px;
        padding: 0px;
    }

    mark{
        background-color: orange;
        color: white;
    }

    div#container{
        height: 100vh;
        width: 100%;
        background-color: red;
        overflow-x: hidden;
    }

    header{
        display: flex;
        align-self: baseline;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 15vh;
        width: 100%;
        background-color: white;
    }

    h1#h1Header{
        font-size: 40px;
        font-style: italic;
        text-decoration: overline;
    }

    div#opçõesHeader{
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    p.pHeader{
        font-size: 18px;
        margin-right: 25px;
        font-weight: bold;
    }

    button#bHeader{
        font-size: 16px;
        font-weight: bold;
        color: white;
        height: 45px;
        width: 190px;
        background-color: orange;
        border: 0px;
        border-radius: 40px;
    }

    div#containerSection{
        display: flex;
        justify-content: center;
        height: 110vh;
        width: 100%;
        background-color: white;
    }

    section#s1{
        height: 110vh;
        width: 90vw;
        background-image: url(../imagens/mulherdinheiro.jpg);
        background-size: cover;
        background-position: center center;
    }


    div#container-div-Section1{
        margin-top: 80px;
        margin-left: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60vh;
        width: 90%;
        background-color: white;
        border-radius: 30px;
    }

    div#div-Section1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 40vh;
        width: 60%;
        
    }

    p#p-div-Section1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
        font-size: 40px;
        font-style: italic;
        width: 100%;
        color: black;
        margin-left: 20px;
    }

    p#p2-div-Section1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        font-size: 17px;
        font-style: italic;
        width: 100%;
        color: black;
        margin-top: 20px;
        margin-left: 20px;
    }

    div#div2-Section1{
        height: 60vh;
        width: 35%;
        background-color: orange;
        border-radius: 20px;
    }

    section#s2{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
        width: 100%;
        background-color: white;
        
    }

    p#p-Section2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        text-align: center;
        font-size: 30px;
        color: black;
        font-weight: bold;
    }

    div#containerSection2{
        display: flex;
        justify-content: center;
        height: 190vh;
        width: 100%;
        background-color: white;
    }

    section#s3{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        background-image: url(../imagens/mulherdinheiro.jpg);
        background-size: cover;
        background-position: bottom bottom;
        height: 190vh;
        width: 90%;
    }

    div.cards{
        display: flex;
        align-items: center;
        height: 50vh;
        width: 95%;
    }

    div.imagem-cards{
        height: 50vh;
        width: 40%;
        background-image: url(../imagens/cardimage.jpg);
        background-size: cover;
        background-position: center center;
        border: 4px solid white;
    }

    div.descrição-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
        width: 60%;
        padding: 10px;
        border: 3px solid white;
        background-color: var(--cor4);
    }

    p.p-cards{
        font-size: 20px;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }

    section#s4{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
        width: 100%;
        background-color: white;
    }

    #button-section4{
        height: 70px;
        width: 300px;
        border-radius: 40px;
        border: 0px;
        background-color: orange;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    div#containerSection3{
        display: flex;
        justify-content: center;
        height: 190vh;
        width: 100%;
        background-color: white;
    }

    section#s5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 120vh;
        width: 90%;
        background-color: #003554;
    }

    div#biografia{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 110vh;
        width: 70%;
        background-color: white;
    }

    h1#titulo-biografia{
        margin-top: 30px;
        margin-bottom: 60px;
        font-size: 50px;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
    }

    .p-biografia{
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
    }
}