@charset "UTF-8";

/*
Typical Device Breakpoints
________________________________________________________
Smartphones em modo retrato:
Breakpoint: 576px

Smartphones em modo paisagem e tablets em modo retrato:
Breakpoint: 600px até 768px

Tablets em modo paisagem:
Breakpoint: 768px até 992px

Laptops e desktops:
Breakpoint: 992px até 1200px

Monitores grandes ou telas de alta resolução:
Breakpoint: acima de 1200px
*/


@media screen and (min-width: 680px) and (max-width: 992px) {

}

/*PARA PCs E TVs:*/

@media screen and (min-width: 992px) {
    
}