@charset "UTF-8";

/*
Typical Device Breakpoints
________________________________________________________
Smartphones em modo retrato:
Breakpoint: 576px

Smartphones em modo paisagem e tablets em modo retrato:
Breakpoint: 600px até 768px

Tablets em modo paisagem:
Breakpoint: 768px até 992px

Laptops e desktops:
Breakpoint: 992px até 1200px

Monitores grandes ou telas de alta resolução:
Breakpoint: acima de 1200px
*/

:root {
    --cor1: #C6D4FF;
    --cor2: #7A82AB;
    --cor3: #003554;
    --cor4: #051923;
    --cor5: #49D49D;
}

body, html {
    margin: 0;
    padding: 0;
}

    * {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    mark {
        background-color: orange;
        color: white;
    }

    /*CONTAINER PAI*/

    div#container-pai {
        height: 100vh;
        width: 100%;
        background-color: white;
        overflow-x: hidden;
    }

    /*HEADER*/

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 15vh;
        width: 100%;
        background-color: white;
    }

    h1#h1-Header {
        font-size: 40px;
        font-style: italic;
        text-decoration: overline;
    }

    div#opções-Header {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    p.p-Header {
        font-size: 20px;
        margin-right: 25px;
        font-weight: bold;
        cursor: pointer;
    }

    .p-Header:hover {
        text-decoration: underline;
    }

    button#b-Header {
        font-size: 16px;
        font-weight: bold;
        color: white;
        height: 45px;
        width: 190px;
        background-color: orange;
        border: 0;
        border-radius: 40px;
        cursor: pointer;
    }

    #b-Header:hover {
        text-decoration: underline;
    }

    .a-button{
        font-size: 18px;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }

    /*SECTION 1*/

    div#containerSection1 {
        display: flex;
        justify-content: center;
        height: 110vh;
        width: 100%;
        background-color: white;
    }

    section#s1 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 110vh;
        width: 90vw;
        background-image: url(../imagens/mulherdinheiro.jpg);
        background-size: cover;
        background-position: center center;
    }

    div#container-pai-s1 {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62vh;
        width: 90%;
        background-color: white;
        border-radius: 30px;
    }

    div#div-filho-s1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 40vh;
        width: 60%;
    }

    p#p-div-s1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
        font-size: 40px;
        font-style: italic;
        width: 100%;
        color: black;
        margin-left: 20px;
    }

    p#p2-div-s1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        font-size: 17px;
        font-style: italic;
        width: 120%;
        color: black;
        margin-top: 10px;
        margin-left: 20px;
    }

    /*LOGIN*/

    div#div-login {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 62vh;
        width: 35%;
        background-color: var(--cor4);
        border-radius: 0 20px 20px 0;
    }

    #p-login {
        font-size: 22px;
        font-weight: bold;
        text-decoration: overline;
        margin-top: 25px;
        margin-bottom: 5px;
        color: white;
    }

    .p-li {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
        color: white;
    }

    #form-novidades{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    input#inome {
        margin-top: 5px;
    }

    .input-login {
        height: 35px;
        width: 300px;
        margin-bottom: 8px;
        border: 2px solid black;
        border-radius: 30px;
        text-align: center;
        font-size: 15px;
    }

    ::placeholder {
        text-align: center;
        font-size: 16px;
        font-weight: 300;
    }

    #button-login {
        height: 45px;
        width: 300px;
        margin-top: 10px;
        border-radius: 30px;
        border: 0;
        background-color: orange;
        font-size: 18px;
        font-weight: bold;
        color: white;
        cursor: pointer;
    }

    #button-login:hover {
        text-decoration: underline;
    }

    /*SECTION 2*/

    section#s2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
        width: 100%;
        background-color: white;
    }

    p#p-Section2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        text-align: center;
        font-size: 30px;
        color: black;
        font-weight: bold;
    }

    /*SECTION 3*/

    div#containerSection3 {
        display: flex;
        justify-content: center;
        height: 190vh;
        width: 100%;
        background-color: white;
    }

    section#s3 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        background-color: var(--cor2);
        height: 190vh;
        width: 90%;
        padding: 0px 10px 0px 10px;
    }

    /*CARDS*/

    div.cards {
        display: flex;
        align-items: center;
        height: 50vh;
        width: 95%;
    }

    div.imagem-cards {
        height: 50vh;
        width: 40%;
        background-image: url(../imagens/cardimage.jpg);
        background-size: cover;
        background-position: center center;
        border: 4px solid white;
    }

    div.descrição-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
        width: 60%;
        padding: 10px;
        border: 3px solid white;
        background-color: var(--cor4);
    }

    p.p-cards {
        font-size: 20px;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }

    /*SECTION 4*/

    section#s4 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
        width: 100%;
        background-color: white;
    }

    #button-section4 {
        height: 70px;
        width: 300px;
        border-radius: 40px;
        border: 0;
        background-color: orange;
        color: white;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }

    #button-section4:hover {
        text-decoration: underline;
    }

    /*SECTION 5*/

    div#containerSection5 {
        display: flex;
        justify-content: center;
        height: 120vh;
        width: 100%;
        background-color: white;
    }

    section#s5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 120vh;
        width: 90%;
        background-image: linear-gradient(to bottom, white, #C6D4FF, white);
    }

    /*BIOGRAFIA*/

    div#biografia {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 105vh;
        width: 70%;
        background-color: white;
        border-radius: 40px;
    }

    h1#titulo-biografia {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 50px;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
    }

    .p-biografia {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    div#redes-sociais-imagens {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 10vh;
        width: 35%;
        margin-top: 20px;
    }

    a {
        margin-right: 10px;
    }

    img {
        height: 60px;
        width: 60px;
    }

    /*SECTION 6*/

    section#s6 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
        width: 100%;
        background-color: white;
    }

    .p-footer {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

