@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fontetitulo: 'Passion One', sans-serif;
    --fonteparagrafo: 'Sriracha', cursive;
}


*{
    margin: 0%;
}

body{
    min-height: 100vh;
    font-family: var(--fonte01);
}

header{
    background-color: black;
    text-align: center;
    width: 100vw;
    padding-top: 60px;
    padding-bottom: 60px;
}

h1{
    color: white;
    font-size: 10vw;
    margin: auto;
    font-family: var(--fontetitulo);
    
}

h2{
    color: white;
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
}

h2 > a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

main.menus{
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

p{
    font-family: var(--fonteparagrafo);
    font-size: 3.1vw;
}

p.pdosmenus{
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    line-height: 2em;
}

div.imagem1{
    box-shadow: inset 15px 15px 15px 15px rgba(0, 0, 0, 0.257);
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 25px;
    margin: auto;
    width: 100%;
}

div.imagem2{
    box-shadow: inset 15px 15px 15px 15px rgba(0, 0, 0, 0.265);
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 25px;
    margin: auto;
    width: 100%;
}

article.conteudodasimagens{
    background-color: rgba(0, 0, 0, 0.506);
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin: 40px 10px 40px 10px;
}

p.pdasimagens{
    color: white;
    font-weight: bold;
    line-height: 2em;
    font-size: 3.3vw;
}


footer{
    padding: 15px 5px 15px 5px;
    margin: auto;
    background-color: black;
}

p.pdofooter{
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: var(--fonte01);
}

p.pdofooter > a{
    color: white;
    text-decoration: none;
}

p.pdofooter > a:hover{
    text-decoration: underline;
}
