@charset "UTF-8";



*{
    margin: 0%;
}

body{
    min-height: 100vh;
}

header{
    background-color: black;
    text-align: center;
    margin: auto;
    padding: 67px;
    
}

h1{
    color: white;
    font-size: 90px;
    margin: auto;
    
}

h2{
    color: white;
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
}

h2 > a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

main.menus{
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

p.pdosmenus{
    margin: 10px 10px 10px 10px;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 2em;
}

div.imagem1{
    box-shadow: inset 15px 15px 15px 15px rgba(0, 0, 0, 0.372);
    background-image: url(imagens/background001.jpg);
    background-position: center left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 80px;
    margin: auto;
    width: 100%;
}

div.imagem2{
    box-shadow: inset 15px 15px 15px 15px rgba(0, 0, 0, 0.372);
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 80px;
    margin: auto;
    width: 100%;
}

article.conteudodasimagens{
    background-color: rgba(0, 0, 0, 0.506);
    width: 400px;
}

p.pdasimagens{
    color: white;
    font-size: 45px;
    font-weight: bold;
    line-height: 2em;
}


footer{
    padding: 15px 5px 15px 5px;
    margin: auto;
    background-color: black;
}

p.pdofooter{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
}

p.pdofooter > a{
    color: white;
    text-decoration: none;
}

p.pdofooter > a:hover{
    text-decoration: underline;
}
