@charset "UTF-8";

*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, black, rgb(213, 213, 213), black);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    height: 90vh;
    width: 100%;
}

section#cadastro{
    margin: auto;
    align-items: center;
    transform: translate(0%, 5%);
    background-color: white;
    width: 350px;
    height: 570px;
    border-radius: 25px;
    overflow: hidden; /*Qualquer conteúdo que ultrapasse as bordas desse elemento será cortado (oculto) e não será exibido.*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.683);
    border: 4px solid white;
    transition: width 0.5s, height 0.5s; /*Para tempo de transição entre devices breakpoints*/
    transition-timing-function: ease; /*Para suavizar animação de transição*/
}

div#imagem{
    display: block;
    background: url(../imagens/dinheiro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

div#formulario{
    display: block;
    padding: 10px;
}

#formulario > h1{
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
}

#formulario > p{
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
}

div.campo{
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px, 0px;
}

div#resposta{
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px, 0px;
}

p.input{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

span{
    color: white;
    background-color: rgb(20, 65, 32);
    padding: 8px;
    border-radius: 8px;
}

span:hover{
    background-color: rgb(0, 39, 0);
    color: white;
    border: 3px solid black;
}

input{
    margin-top: 8px;
    height: 40px;
    width: 230px;
    border: 3px solid black;
    transform: translateY(-6px); /*Para alinha input com simbolo do span*/
    border-radius: 6px;
    padding: 8px;
}

input#botão{
    font-weight: bold;
    margin-top: 8px;
    padding: 8px;
    height: 40px;
    width: 70px;
    border: 3px solid black;
    border-radius: 6px;
}

#botão:hover{
    background-color: rgb(0, 42, 0);
    color: white;
    font-weight: bold;
    border: 3px solid black;
    height: 45px;
    width: 75px;
    cursor: pointer;
}