@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Prompt:wght@500 & family= Sriracha & display=swap');

/*
paleta de cores:
#333333 preto
#643173 roxo
#7D5BA6 roxo claro
#86A59C verde claro
#89CE94 verde
*/
:root {
    --cor01: #333333;
    --cor02: #643173;
    --cor03: #7D5BA6;
    --cor04: #86A59C;
    --cor05: #89CE94;
}

*{
    margin: 0px;
    padding: 0%;
    font-family: sans-serif;
    list-style: none;
    box-sizing: border-box;
}

body, html{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, #7D5BA6, white, #adf0b8);
}

header.cabeçalho{
    display: flex; /*A principal utilidade do display: flex é transformar um contêiner (elemento pai) e seus filhos diretos em um contêiner flexível. para colocar logo de um lado e a lista do outro*/

    flex-wrap: wrap; /*Para quando a tela diminuir muito o item da lista ir para baixo da do logo*/

    justify-content: space-between; /* propriedade do modelo de layout Flexbox em CSS, usada para alinhar itens ao longo do eixo principal de um contêiner flexível. e Space-between para criar espaço entre itens separados pelo Display: flex.*/

    align-items: center; /*Para alinhar o item da logo rente a da lista*/

    padding: 10px 20px 10px 20px;
    margin: auto;
    margin-top: 45px;
    height: 13vh;
    width: 86vw;
    background-image: linear-gradient(to right, #89CE94, #7D5BA6);
    border-radius: 15px;
    border: 5px solid  var(--cor02);
}

ul.menu{
    display: flex; /*Transformando o (ul) em elemento pai pra colocas as (li) em container flexivel, um do lado do outro.*/
}

ul.menu, li{
    margin-left: 10px; /*Uma separada nos itens*/ 
}

a{
    padding: 10px;
    font-size: 19px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
}

a:hover{
    background-color: var(--cor05);
    font-weight: bolder;
    font-size: 16px;
    padding: 11px;
    letter-spacing: 1px;
    transition-duration: 0.5s;
    border-radius: 20px;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url(imagens/familia-2.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    border: 5px solid var(--cor05);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 80vh;
    width: 86vw;
    border-radius: 15px;
}
h1#conexão{
    font-family: 'Prompt', sans-serif;
    font-size: 60px;
    color: white;
    justify-content: flex-start;
    background-image: linear-gradient(to right, #89ce95, rgba(125, 91, 166, 0));
    padding: 20px;
}

h2#section1{
    font-family: 'Sriracha', cursive;
    color: white;
    justify-content: flex-start;
    background-image: linear-gradient(to right, #7D5BA6, #8662b100, rgba(125, 91, 166, 0));
    padding: 20px;
}

h2#section2{
    font-family: 'Sriracha', cursive;
    color: white;
    justify-content: flex-start;
    background-image: linear-gradient(to right, #7D5BA6, #8662b100, rgba(125, 91, 166, 0));
    padding: 20px;
}

div.main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div.card{
    margin: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.305);
    border: 5px solid #643173;
    width: 320px;
    height: 520px;
    border-radius: 20px;
    font-weight: 900;
    font-size: 25px;
}

div.card:hover{
    margin: 0px 0px 70px 0px;
    letter-spacing: 1px;
    font-size: 30px;
    height: 570px;
    transition: 1s;
    background-color: #80e791bd;
}

.card > h1{
    font-family: 'Prompt', sans-serif;
    color: white;
    padding: 0px;
}

.card > img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.card > button{
    font-weight: 900;
    font-size: 25px;
    margin: 20px;
    padding: 15px;
    width: 190px;
}

button:hover{
    color: white;
    background-color: #7d5ba6;
    transition: 0.5s;
    font-size: 25px;
    padding: 15px;
    border-radius: 30px;
    border: 5px solid black;
}

