@charset "UTF-8";

/*
paleta de cores:
#333333 preto
#643173 roxo
#7D5BA6 roxo claro
#86A59C verde claro
#89CE94 verde
*/
:root {
    --cor01: #333333;
    --cor02: #643173;
    --cor03: #7D5BA6;
    --cor04: #86A59C;
    --cor05: #89CE94;
}

*{
    margin: 0px;
    padding: 0%;
    font-family: sans-serif;
    list-style: none;
}

body, html{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, #7D5BA6, white, #adf0b8);
}

header.cabeçalho{
    display: flex; /*A principal utilidade do display: flex é transformar um contêiner (elemento pai) e seus filhos diretos em um contêiner flexível. para colocar logo de um lado e a lista do outro*/

    flex-wrap: wrap; /*Para quando a tela diminuir muito o item da lista ir para baixo da do logo*/

    justify-content: space-between; /* propriedade do modelo de layout Flexbox em CSS, usada para alinhar itens ao longo do eixo principal de um contêiner flexível. e Space-between para criar espaço entre itens separados pelo Display: flex.*/

    align-items: center; /*Para alinhar o item da logo rente a da lista*/

    padding: 10px 20px 10px 20px;
    margin: auto;
    margin-top: 45px;
    height: 13vh;
    width: 81vw;
    background-color: #138A36;
    border-radius: 15px;
}

ul.menu{
    display: flex; /*Transformando o (ul) em elemento pai pra colocas as (li) em container flexivel, um do lado do outro.*/
}

ul.menu, li{
    margin-left: 10px; /*Uma separada nos itens*/ 
}

a{
    display: block;
    padding: 10px;
    font-size: 19px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
}

a:hover{
    background-color: var(--cor05);
    font-weight: bolder;
    font-size: 16px;
    padding: 11px;
    letter-spacing: 1px;
    transition-duration: 0.5s;
    border-radius: 20px;
}

section{
    background-image: linear-gradient(to right, #86A59C, #89CE94);
    background-image: url(imagens/familia.internet.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 3px solid black;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 80vh;
    width: 83vw;
    border-radius: 15px;
}
h1{
    color: white;
    text-align: left;
    margin: 20px;
    padding: 30px 30px 30px 30px;
}

h2{
    color: white;
    text-align: left;
    margin: 20px;
    padding: 30px 30px 30px 30px;
}

div.container{
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    background-image: linear-gradient(to right, #333333, #643173, #7D5BA6);
    margin-top: 50px;
    margin-bottom: 50px;
    height: 80vh;
    width: 83vw;
}

div > p{
    text-align: center;
}
